<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body class="bg-gray-900 text-gray-200 flex flex-col justify-between h-screen">
    <div class="flex flex-col items-center justify-center flex-grow text-center space-y-4">
        <h1 class="text-6xl font-bold text-red-500">404</h1>
        <p class="text-2xl">The page you are looking for could not be found.</p>
    </div>

    <!-- Footer -->
    <footer class="text-center py-5 text-gray-200">
        <img src="/static/images/new_logo.png" alt="Footer Logo" class="mx-auto w-24 h-auto mb-3">
    </footer>
</body>
</html>
