<!-- static/tmpl/tps.tmpl -->
<!DOCTYPE html>
<html>
<head>
    <title>Zoolanders TPS Reports</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/tps.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <!-- Chart.js Library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
    <!-- Word Cloud Chart Plugin -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-wordcloud@4.4.3/build/index.umd.min.js"></script>
    <!-- Date Adapter for Chart.js (Version 3) -->
    <script src="https://cdn.jsdelivr.net/npm/date-fns@4.1.0/cdn.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0/dist/chartjs-plugin-datalabels.min.js"></script>
    <!-- Matrix Chart Plugin -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-matrix@2.0.1/dist/chartjs-chart-matrix.min.js"></script>
    <!-- Favicon -->
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <!-- Animate.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>
<body>
    <!-- Header -->
    <header class="position-relative text-center my-5 p-5">
        <div class="container">
            <h1 class="display-3 animate__animated animate__fadeInDown">Zoolanders TPS Reports</h1>
            <p class="lead animate__animated animate__fadeInUp">Data for Kids Who Can't Fly Good</p>
        </div>
    </header>

    <main>
        <div class="container">
            <!-- Tabs for Navigation -->
            <ul class="nav nav-tabs mt-4" id="chartTab" role="tablist">
                {{ range .TimeFrames }}
                <li class="nav-item" role="presentation">
                    <button class="nav-link {{ if eq .Name "MTD" }}active{{ end }}" id="{{ toLower .Name }}-tab" data-bs-toggle="tab" data-bs-target="#{{ toLower .Name }}ChartContainer" type="button" role="tab" aria-controls="{{ toLower .Name }}ChartContainer" aria-selected="{{ if eq .Name "MTD" }}true{{ else }}false{{ end }}">{{ .Name }}</button>
                </li>
                {{ end }}
            </ul>

            <!-- Chart Containers -->
            <div class="tab-content">
                {{ range .TimeFrames }}
                <div class="tab-pane fade {{ if eq .Name "MTD" }}show active{{ end }}" id="{{ toLower .Name }}ChartContainer" role="tabpanel" aria-labelledby="{{ toLower .Name }}-tab">
                    {{ range .Charts }}
                    <div class="chart-container my-4 {{ if eq .Name "Top Ships Killed" }}wordcloud-container{{ end }}">
                        <canvas id="{{ .ID }}" data-chart-type="{{ .Type }}"></canvas>
                    </div>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <img src="/static/images/zoo_logo.png" alt="Zoolanders Logo">
        </div>
    </footer>

    <!-- JavaScript -->
    <!-- Include Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Pass data from Go to JavaScript -->
    <script>
        // Initialize a global object to hold all chart data
        window.chartData = {};

        {{ range .TimeFrames }}
            {{ range .Charts }}
        window.chartData["{{ .ID }}"] = {{ .Data }};
            {{ end }}
        {{ end }}
    </script>
    <!-- Custom JS -->
    <script type="module" src="/static/js/tps.js"></script>
</body>
</html>
