/* Body Styles */
/* Global Styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

main {
    flex: 1 0 auto;
}


/* Header Styles */
header {
    background-image: url('/static/images/header-bg.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 80px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

header .container {
    position: relative;
    z-index: 2;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

header .lead {
    font-size: 1.5rem;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

/* Navigation Tabs */
.nav-tabs .nav-link.active {
    background-color: #ff4d4d;
    color: #ffffff;
}

.nav-tabs .nav-link {
    color: #ffffff;
}

.nav-tabs .nav-link:hover {
    color: #ff4d4d;
}

.chart-container {
    background-color: #2c2f33;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    height: auto; /* Allows the container to adjust its height based on content */
    min-height: 500px; /* Sets a minimum height to ensure visibility */
    box-sizing: border-box; /* Ensure padding doesn't affect the height */
    width: 100%;
}

.chart-container canvas {
    background-color: #2c2f33;
    border: none;
}

/* Word Cloud Specific Container */
.wordcloud-container {
    background-color: #2c2f33;
    border: none;
    position: relative;
    width: 100%;
    height: 500px; /* Set a fixed height (adjust as needed) */
}

/* Ensure Canvas Fills the Container */
.wordcloud-container canvas {
    width: 100% !important;
    height: 100% !important;
}

/* Footer Styles */
footer {
    background-color: #121212;
    color: #ffffff;
    padding: 20px 0;
    border-top: 2px solid #ff4d4d;
    text-align: center;
    flex-shrink: 0;
}

footer img {
    width: 100px;
    height: auto;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Optional: Adjust tooltip styling for better readability */
.chartjs-render-monitor {
    cursor: pointer;
}