<!DOCTYPE html>
<html>
<head>
    <title>Zoolanders TPS Reports</title>
    <link rel="stylesheet" type="text/css" href="/static/custom.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <script>
        function updateChart(chartType) {
            // Hide all charts
            document.getElementById('mtdChart').style.display = 'none';
            document.getElementById('ytdChart').style.display = 'none';
            document.getElementById('lmChart').style.display = 'none';

            // Show the selected chart
            document.getElementById(chartType + 'Chart').style.display = 'block';
        }

        document.addEventListener('DOMContentLoaded', function() {
            // Hide the loading spinner after the content is loaded
            document.getElementById('loadingSpinner').style.display = 'none';
        });
    </script>
</head>
<body>
    <div id="loadingSpinner">Loading...</div>
    <div class="header">
        <h1>Zoolanders TPS Reports</h1>
        <div class="button-container">
            <button onclick="updateChart('mtd')" aria-label="Show Month-to-Date Chart">MTD</button>
            <button onclick="updateChart('lm')" aria-label="Show Last Month Chart">Last Month</button>
            <button onclick="updateChart('ytd')" aria-label="Show Year-to-Date Chart">YTD</button>
        </div>
    </div>
    <div class="charts">
        <div class="chart-container" id="mtdChart">
            <div class="chart-content">
                {{.MTDChartHTML}}
            </div>
        </div>
        <div class="chart-container" id="ytdChart" style="display: none;">
            <div class="chart-content">
                {{.YTDChartHTML}}
            </div>
        </div>
        <div class="chart-container" id="lmChart" style="display: none;">
            <div class="chart-content">
                {{.LMChartHTML}}
            </div>
        </div>
    </div>
</body>
</html>