<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoolanders TPS Reports - Try again /title>
    <link rel="stylesheet" type="text/css" href="/static/custom.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1> Analysis in progress...</h1>
        </header>
        <main class="content">
            <p class="center-text">Please try again in a few minutes</p>
        </main>
        <footer class="footer">
            <img src="/static/zoologo.png" alt="Zoolanders Logo">
        </footer>
    </div>
</body>
</html>
