<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loot Summary</title>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/tabulator-tables@5.2.3/dist/css/tabulator.min.css">
    <link rel="stylesheet" type="text/css" href="/static/custom.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.2.3/dist/js/tabulator.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/2.0.2/luxon.min.js"></script>
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Loot Summary</h1>
            <button onclick="window.location.href='/loot-appraisal'">Go to Loot Appraisal</button>
        </header>
        <main class="summary">
            <section class="summary-container">
                <div id="lootSummaryTable"></div>
            </section>
            <section class="detail-container" id="detailContainer">
                <h2>Details</h2>
                <input type="hidden" id="selectedRowId">
                <div class="field">
                    <label>Date:</label>
                    <span id="detailDate"></span>
                </div>
                <div class="field">
                    <label>Battle Report:</label>
                    <span><a id="detailBattleReport" href="#" target="_blank"></a></span>
                </div>
                <div class="field">
                    <label>Total Buy Price:</label>
                    <span id="detailTotalBuyPrice"></span>
                </div>
                <div class="split-details" id="splitDetails"></div>
                <div class="button-container">
                    <button class="delete-button" onclick="confirmDelete()">Delete</button>
                </div>
            </section>
        </main>
        <footer class="footer">
            <img src="/static/zoolander-big.png" alt="Zoolanders Logo">
        </footer>
    </div>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            fetchLootSummaries();
        });

        function fetchLootSummaries() {
            fetch('/fetch-loot-splits')
            .then(response => response.json())
            .then(data => {
                console.log('Fetched data:', data); // Debugging line
                data.forEach((row, index) => {
                    row.id = index;
                    row.date = luxon.DateTime.fromISO(row.date, { zone: 'utc' }).toFormat('yyyy-MM-dd HH:mm:ss'); // Format date to UTC
                    row.totalBuyPrice = formatNumber(row.totalBuyPrice);
                });

                var table = new Tabulator("#lootSummaryTable", {
                    data: data,
                    layout: "fitColumns",
                    columns: [
                        {title: "Date", field: "date"},
                        {title: "Battle Report", field: "battleReport"},
                        {title: "Total Buy Price", field: "totalBuyPrice"}
                    ]
                });

                table.on("rowClick", function(e, row) {
                    var details = row.getData();
                    var selectedRowId = document.getElementById("selectedRowId");
                    var detailDate = document.getElementById("detailDate");
                    var detailBattleReport = document.getElementById("detailBattleReport");
                    var detailTotalBuyPrice = document.getElementById("detailTotalBuyPrice");
                    var detailContainer = document.getElementById("detailContainer");

                    if (selectedRowId && detailDate && detailBattleReport && detailTotalBuyPrice && detailContainer) {
                        selectedRowId.value = details.id;
                        detailDate.innerText = details.date || 'N/A';
                        detailBattleReport.innerText = details.battleReport || 'N/A';
                        detailBattleReport.href = details.battleReport || '#';
                        detailTotalBuyPrice.innerText = details.totalBuyPrice || 'N/A';
                        displaySplitDetails(details.splitDetails);
                        detailContainer.style.display = "block";
                    }
                });
            }).catch(error => {
                console.error("Error fetching loot summaries.", error);
            });
        }

        function formatNumber(num) {
            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        function displaySplitDetails(splitDetails) {
            var splitDetailsContainer = document.getElementById("splitDetails");
            splitDetailsContainer.innerHTML = '';
            if (splitDetails) {
                for (var key in splitDetails) {
                    if (splitDetails.hasOwnProperty(key)) {
                        var value = splitDetails[key];
                        splitDetailsContainer.innerHTML += `<p><strong>${key}:</strong> ${formatNumber(value)}</p>`;
                    }
                }
            } else {
                splitDetailsContainer.innerHTML = '<p>No split details available</p>';
            }
        }

        function confirmDelete() {
            if (confirm("Are you sure you want to delete this entry?")) {
                deleteDetails();
            }
        }

        function deleteDetails() {
            var id = parseInt(document.getElementById("selectedRowId").value);

            fetch('/delete-loot-split', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id: id })
            })
            .then(response => {
                if (response.ok) {
                    console.log("Loot split deleted successfully.");
                    fetchLootSummaries(); // Refresh the table
                    document.getElementById("detailContainer").style.display = "none"; // Hide details container
                } else {
                    console.error("Error deleting loot split.");
                }
            })
            .catch(error => {
                console.error("Error deleting loot split.", error);
            });
        }

        function saveLootSplits(data) {
            console.log("Data being sent to save-loot-splits:", JSON.stringify(data));
            fetch('/save-loot-splits', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then(response => {
                if (response.ok) {
                    console.log("Loot splits saved successfully.");
                    fetchLootSummaries(); // Refresh the table
                    document.getElementById("detailContainer").style.display = "none"; // Hide details container
                } else {
                    console.error("Error saving loot splits.");
                }
            }).catch(error => {
                console.error("Error saving loot splits.", error);
            });
        }

    </script>
</body>
</html>
