<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loot Split Calculator</title>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/tabulator-tables@5.2.3/dist/css/tabulator.min.css">
    <link rel="stylesheet" type="text/css" href="/static/custom.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.2.3/dist/js/tabulator.min.js"></script>
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Loot Split Calculator</h1>
            <button onclick="window.location.href='/loot-summary'">Summary Page</button>
            <hr>
        </header>
        <main class="appraisal">
            <section class="appraisal-container">
                <div id="loot-entry-container"></div>
                <div id="jita-price-container" class="center-text"></div>
                <hr>
                <div id="character-list-container"></div>
                <div id="pilot-assignment-container"></div>
                <hr>
                <div id="calculation-result-container"></div>
                <div id="battle-report-container" class="center-text"></div>
                <div id="save-split-container"></div>
            </section>
        </main>
        <footer class="footer">
            <img src="/static/zoolander-big.png" alt="Zoolanders Logo">
        </footer>
    </div>
    <script src="/static/character-list.js"></script>
    <script src="/static/loot-entry.js"></script>
    <script src="/static/pilot-assignment.js"></script>
    <script src="/static/calculation-result.js"></script>
    <script src="/static/save-split.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            initCharacterList();
            initLootEntry();
            initPilotAssignment();
            initCalculationResult();
            initSaveSplit();
        });
    </script>
</body>
</html>
