<!DOCTYPE html>
<html>
<head>
    <title>Zoolanders TPS Reports</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    >
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/tps.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <!-- Chart.js Library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Date Adapter for Chart.js (Version 3) -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3"></script>
    <!-- Word Cloud Chart Plugin -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-wordcloud@1.0.0/dist/chartjs-chart-wordcloud.min.js"></script>
    <!-- Sunburst Chart Plugin -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-sunburst@1.0.0"></script>
    <!-- Matrix Chart Plugin -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-matrix@1.0.0"></script>
    <!-- Favicon -->
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <!-- Animate.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>
<body>
    <!-- Header -->
    <header class="position-relative text-center my-5 p-5">
        <div class="container">
            <h1 class="display-3 animate__animated animate__fadeInDown">Zoolanders TPS Reports</h1>
            <p class="lead animate__animated animate__fadeInUp">Your Gateway to Fleet Analytics</p>
        </div>
    </header>

    <main>
        <div class="container">
            <!-- Tabs for Navigation -->
            <ul class="nav nav-tabs mt-4" id="chartTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="mtd-tab" data-bs-toggle="tab" href="#mtdChartContainer" role="tab">MTD</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="lm-tab" data-bs-toggle="tab" href="#lmChartContainer" role="tab">Last Month</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="ytd-tab" data-bs-toggle="tab" href="#ytdChartContainer" role="tab">YTD</a>
                </li>
            </ul>

            <!-- Chart Containers -->
            <div class="tab-content">
                <!-- MTD Charts -->
                <div class="tab-pane fade show active" id="mtdChartContainer" role="tabpanel">
                    <div class="chart-container my-4">
                        <canvas id="damageFinalBlowsChart_mtd"></canvas>
                    </div>
                    <div class="chart-container my-4">
                        <canvas id="combinedLossesChart_mtd"></canvas>
                    </div>
                    <div class="chart-container my-4">
                        <canvas id="characterPerformanceChart_mtd"></canvas>
                    </div>
                    <div class="chart-container my-4">
                        <canvas id="ourShipsUsedChart_mtd"></canvas>
                    </div>
                    <div class="chart-container my-4">
                        <canvas id="victimsSunburstChart_mtd"></canvas>
                    </div>
                    <div class="chart-container my-4">
                        <canvas id="killActivityChart_mtd"></canvas>
                    </div>
                    <div class="chart-container my-4">
                        <canvas id="killHeatmapChart_mtd"></canvas>
                    </div>
                    <div class="chart-container my-4">
                        <canvas id="killLossRatioChart_mtd"></canvas>
                    </div>
                    <div class="chart-container my-4">
                        <canvas id="topShipsKilledChart_mtd"></canvas>
                    </div>
                    <div class="chart-container my-4">
                        <canvas id="valueOverTimeChart_mtd"></canvas>
                    </div>
                </div>

                <!-- Last Month Charts -->
                <div class="tab-pane fade" id="lmChartContainer" role="tabpanel">
                    <div class="chart-container my-4">
                        <canvas id="damageFinalBlowsChart_lastM"></canvas>
                    </div>
                    <div class="chart-container my-4">
                        <canvas id="combinedLossesChart_lastM"></canvas>
                    </div>
                    <div class="chart-container my-4">
                        <canvas id="characterPerformanceChart_lastM"></canvas>
                    </div>
                    <div class="chart-container my-4">
                        <canvas id="ourShipsUsedChart_lastM"></canvas>
                    </div>
                    <div class="chart-container my-4">
                        <canvas id="victimsSunburstChart_lastM"></canvas>
                    </div>
                    <div class="chart-container my-4">
                        <canvas id="killActivityChart_lastM"></canvas>
                    </div>
                    <div class="chart-container my-4">
                        <canvas id="killHeatmapChart_lastM"></canvas>
                    </div>
                    <div class="chart-container my-4">
                        <canvas id="killLossRatioChart_lastM"></canvas>
                    </div>
                    <div class="chart-container my-4">
                        <canvas id="topShipsKilledChart_lastM"></canvas>
                    </div>
                    <div class="chart-container my-4">
                        <canvas id="valueOverTimeChart_lastM"></canvas>
                    </div>
                </div>

                <!-- YTD Charts -->
                <div class="tab-pane fade" id="ytdChartContainer" role="tabpanel">
                    <div class="chart-container my-4">
                        <canvas id="damageFinalBlowsChart_ytd"></canvas>
                    </div>
                    <div class="chart-container my-4">
                        <canvas id="combinedLossesChart_ytd"></canvas>
                    </div>
                    <div class="chart-container my-4">
                        <canvas id="characterPerformanceChart_ytd"></canvas>
                    </div>
                    <div class="chart-container my-4">
                        <canvas id="ourShipsUsedChart_ytd"></canvas>
                    </div>
                    <div class="chart-container my-4">
                        <canvas id="victimsSunburstChart_ytd"></canvas>
                    </div>
                    <div class="chart-container my-4">
                        <canvas id="killActivityChart_ytd"></canvas>
                    </div>
                    <div class="chart-container my-4">
                        <canvas id="killHeatmapChart_ytd"></canvas>
                    </div>
                    <div class="chart-container my-4">
                        <canvas id="killLossRatioChart_ytd"></canvas>
                    </div>
                    <div class="chart-container my-4">
                        <canvas id="topShipsKilledChart_ytd"></canvas>
                    </div>
                    <div class="chart-container my-4">
                        <canvas id="valueOverTimeChart_ytd"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <img src="/static/images/zoo_logo.png" alt="Zoolanders Logo">
        </div>
    </footer>

    <!-- JavaScript -->
    <!-- Include Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Pass data from Go to JavaScript -->
    <script>
        // Damage Done and Final Blows Data
        window.mtdCharacterDamageData = {{ .MTDCharacterDamageData }};
        window.ytdCharacterDamageData = {{ .YTDCharacterDamageData }};
        window.lastMCharacterDamageData = {{ .LastMCharacterDamageData }};

        // Our Losses Combined Data
        window.mtdOurLossesValueData = {{ .MTDOurLossesValueData }};
        window.ytdOurLossesValueData = {{ .YTDOurLossesValueData }};
        window.lastMOurLossesValueData = {{ .LastMOurLossesValueData }};

        // Character Performance Data
        window.mtdCharacterPerformanceData = {{ .MTDCharacterPerformanceData }};
        window.ytdCharacterPerformanceData = {{ .YTDCharacterPerformanceData }};
        window.lastMCharacterPerformanceData = {{ .LastMCharacterPerformanceData }};

        // Our Ships Used Data
        window.mtdOurShipsUsedData = {{ .MTDOurShipsUsedData }};
        window.ytdOurShipsUsedData = {{ .YTDOurShipsUsedData }};
        window.lastMOurShipsUsedData = {{ .LastMOurShipsUsedData }};

        // Kill Activity Over Time Data
        window.mtdKillActivityData = {{ .MTDKillActivityData }};
        window.ytdKillActivityData = {{ .YTDKillActivityData }};
        window.lastMKillActivityData = {{ .LastMKillActivityData }};

        // Victims Sunburst Data
        window.mtdVictimsSunburstData = {{ .MTDVictimsSunburstData }};
        window.ytdVictimsSunburstData = {{ .YTDVictimsSunburstData }};
        window.lastMVictimsSunburstData = {{ .LastMVictimsSunburstData }};

        // Kill Heatmap Data
        window.mtdKillHeatmapData = {{ .MTDKillHeatmapData }};
        window.ytdKillHeatmapData = {{ .YTDKillHeatmapData }};
        window.lastMKillHeatmapData = {{ .LastMKillHeatmapData }};

        // Kill-to-Loss Ratio Data
        window.mtdKillLossRatioData = {{ .MTDKillLossRatioData }};
        window.ytdKillLossRatioData = {{ .YTDKillLossRatioData }};
        window.lastMKillLossRatioData = {{ .LastMKillLossRatioData }};

        // Top Ships Killed Data
        window.mtdTopShipsKilledData = {{ .MTDTopShipsKilledData }};
        window.ytdTopShipsKilledData = {{ .YTDTopShipsKilledData }};
        window.lastMTopShipsKilledData = {{ .LastMTopShipsKilledData }};

        // Value Over Time Data
        window.mtdValueOverTimeData = {{ .MTDValueOverTimeData }};
        window.ytdValueOverTimeData = {{ .YTDValueOverTimeData }};
        window.lastMValueOverTimeData = {{ .LastMValueOverTimeData }};
    </script>
    <!-- Custom JS -->
    <script type="module" src="/static/js/tps.js"></script>
</body>
</html>
