<!DOCTYPE html>
<html>
<head>
    <title>Zoolanders TPS Reports</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    >
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/tps.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <!-- Chart.js Library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Date Adapter for Chart.js (Version 3) -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3"></script>
    <!-- Sunburst Chart Plugin -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-sunburst@1.0.0"></script>
    <!-- Matrix Chart Plugin -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-matrix@1.0.0"></script>
    <!-- Favicon -->
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <!-- Animate.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>
<body>
    <!-- Header -->
    <header class="position-relative text-center my-5 p-5">
        <div class="container">
            <h1 class="display-3 animate__animated animate__fadeInDown">Zoolanders TPS Reports</h1>
            <p class="lead animate__animated animate__fadeInUp">Your Gateway to Fleet Analytics</p>
        </div>
    </header>


    <main>
    <div class="container">
        <!-- Tabs for Navigation -->
        <ul class="nav nav-tabs mt-4" id="chartTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="mtd-tab" data-bs-toggle="tab" href="#mtdChartContainer" role="tab">MTD</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="lm-tab" data-bs-toggle="tab" href="#lmChartContainer" role="tab">Last Month</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="ytd-tab" data-bs-toggle="tab" href="#ytdChartContainer" role="tab">YTD</a>
            </li>
        </ul>

        <!-- Chart Containers -->
        <div class="tab-content">
            <div class="chart-container">
                <canvas id="damageFinalBlowsChart"></canvas>
            </div>

            <!-- 2. Our Losses Combined Chart -->
            <div class="chart-container">
                <canvas id="combinedLossesChart"></canvas>
            </div>

            <!-- 3. Character Performance Chart -->
            <div class="chart-container">
                <canvas id="characterPerformanceChart"></canvas>
            </div>

            <!-- 4. Our Ships Used Chart -->
            <div class="chart-container">
                <canvas id="ourShipsUsedChart"></canvas>
            </div>

            <!-- 5. Victims Sunburst Chart -->
            <div class="chart-container">
                <canvas id="victimsSunburstChart"></canvas>
            </div>

            <!-- 6. Kill Activity Over Time Chart -->
            <div class="chart-container">
                <canvas id="killActivityChart"></canvas>
            </div>

            <!-- 7. Kill Heatmap Chart -->
            <div class="chart-container">
                <canvas id="killHeatmapChart"></canvas>
            </div>

            <!-- 8. Kill-to-Loss Ratio Chart -->
            <div class="chart-container">
                <canvas id="killLossRatioChart"></canvas>
            </div>

            <!-- 9. Top Ships Killed Chart -->
            <div class="chart-container">
                <canvas id="topShipsKilledChart"></canvas>
            </div>

            <!-- 10. Value Over Time Chart -->
            <div class="chart-container">
                <canvas id="valueOverTimeChart"></canvas>
            </div>
        </div>
    </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <img src="/static/images/zoo_logo.png" alt="Zoolanders Logo">
        </div>
    </footer>

    <!-- JavaScript -->
    <!-- Include Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Pass data from Go to JavaScript -->
    <script>
        // Damage Done and Final Blows Data
        window.mtdCharacterDamageData = {{ .MTDCharacterDamageData }};
        window.ytdCharacterDamageData = {{ .YTDCharacterDamageData }};
        window.lastMCharacterDamageData = {{ .LastMCharacterDamageData }};

        // Our Losses Combined Data
        window.mtdOurLossesValueData = {{ .MTDOurLossesValueData }};
        window.ytdOurLossesValueData = {{ .YTDOurLossesValueData }};
        window.lastMOurLossesValueData = {{ .LastMOurLossesValueData }};

        // Character Performance Data
        window.mtdCharacterPerformanceData = {{ .MTDCharacterPerformanceData }};
        window.ytdCharacterPerformanceData = {{ .YTDCharacterPerformanceData }};
        window.lastMCharacterPerformanceData = {{ .LastMCharacterPerformanceData }};

        // Our Ships Used Data
        window.mtdOurShipsUsedData = {{ .MTDOurShipsUsedData }};
        window.ytdOurShipsUsedData = {{ .YTDOurShipsUsedData }};
        window.lastMOurShipsUsedData = {{ .LastMOurShipsUsedData }};

        // Kill Activity Over Time Data
        window.mtdKillActivityData = {{ .MTDKillActivityData }};
        window.ytdKillActivityData = {{ .YTDKillActivityData }};
        window.lastMKillActivityData = {{ .LastMKillActivityData }};

        // Victims Sunburst Data
        window.mtdVictimsSunburstData = {{ .MTDVictimsSunburstData }};
        window.ytdVictimsSunburstData = {{ .YTDVictimsSunburstData }};
        window.lastMVictimsSunburstData = {{ .LastMVictimsSunburstData }};

        // Kill Heatmap Data
        window.mtdKillHeatmapData = {{ .MTDKillHeatmapData }};
        window.ytdKillHeatmapData = {{ .YTDKillHeatmapData }};
        window.lastMKillHeatmapData = {{ .LastMKillHeatmapData }};

        // Kill-to-Loss Ratio Data
        window.mtdKillLossRatioData = {{ .MTDKillLossRatioData }};
        window.ytdKillLossRatioData = {{ .YTDKillLossRatioData }};
        window.lastMKillLossRatioData = {{ .LastMKillLossRatioData }};

        // Top Ships Killed Data
        window.mtdTopShipsKilledData = {{ .MTDTopShipsKilledData }};
        window.ytdTopShipsKilledData = {{ .YTDTopShipsKilledData }};
        window.lastMTopShipsKilledData = {{ .LastMTopShipsKilledData }};

        // Value Over Time Data
        window.mtdValueOverTimeData = {{ .MTDValueOverTimeData }};
        window.ytdValueOverTimeData = {{ .YTDValueOverTimeData }};
        window.lastMValueOverTimeData = {{ .LastMValueOverTimeData }};
    </script>
    <!-- Custom JS -->
    <script type="module" src="static/js/tps.js"></script>
</body>
</html>
